<html>
<head>
    <title>Twitter Positive Tweet Search</title>
</head>
<body>
<h1>Twitter Positive Tweet Analysis</h1>
<a href="{{ url_for('main') }}">Sentiment Analysis</a>
<h2>Parameters</h2>
<form method="GET" action="{{ url_for('positive')}}">
    <table>
        <tr>
            <td><label>Search Query:   </label></td>
            <td><input name="query" value="Trump"><br></td>
        </tr>
        <tr>
            <td><label>Number of tweets to search </label></td>
            <td><input name="count" type="number" value="200" min="0" max="1000"><br></td>
        </tr>
    
    </table>
    <input type="submit"><br>
    
</form>

</body>
</html>
